{% extends "layout.html" %}
{% block content %}
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>About Local Sports Tracker</h1>
        </div>
        <div class="col">
          <h6>A Passion Project</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-auto">
          <h3>A little about us!</h3>
          <p>This is a group project that we decided to collaborate our minds to provide a quality project that helps others manage </p>
        </div>
      </div>
    </div>
{% endblock content %}
